body {
    margin: 0;
    padding: 0;
    background-color: #EAECEE;
    font-family: Verdana, sans-serif;
    font-size: 0.9em;
}
#container {
    margin: 0 auto;
    padding: 0 20px 10px 20px;
    border: 1px solid #666666;
    width: 865px; /* subtract 40px from banner width for padding */
    background: #FFFFFF url(#{request.contextPath}/resources/pic/bg.png) no-repeat;
    padding-top: 110px;
	
}
#register_domain {
    font-size: 0.9em;
    width: 250px;
    float: left;
    border: 1px solid #666666;
    background:#9999CC;
    padding: 0 15px 5px 15px;
}
#display_domain {
    font-size: 0.9em;
    border: 1px solid #666666;
    background: #EAECEE;
    padding: 0 15px 5px 15px;
	margin-left:20px;
}
#footer {
    clear: both;
    text-align: center;
    color: #666666;
    font-size: 0.85em;
    padding: 3em 0 0 0;
}
code {
    font-size: 1.1em;
}
span.invalid {
    padding-left: 3px;
    color: red;
}
